<!--container-fluid start-->
<div class='container-fluid'>
  <a id='backToTop' href='javascript:void(0);'>Back to top</a>
</div>
<div class='clear'></div>
<!--footer start-->
<footer>
  <div class='container'>
    <div class='col-sm-3 col-sm-offset-1'>
      <h3 class='text-left'>Get to Know Us</h3>
      <div class='listStyle'>
        <ul>
          <li><a href='javascript:void(0);'>About Us</a></li>
          <li><a href='javascript:void(0);'>Careers</a></li>
          <li><a href='javascript:void(0);'>Press Releases</a></li>
          <li><a href='javascript:void(0);'>Gift a Smile</a></li>
        </ul>
      </div>
    </div>
    <div class='col-sm-3'>
      <h3 class='text-left'>Connect with Us</h3>
      <div class='listStyle'>
        <ul>
          <li><a href='javascript:void(0);'>Facebook</a></li>
          <li><a href='javascript:void(0);'>Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class='col-sm-3'>
      <h3 class='text-left'>Let Us Help You</h3>
      <div class='listStyle'>
        <ul>
          <li><a href='javascript:void(0);'>Your Account</a></li>
          <li><a href='javascript:void(0);'>Delivery Speeds & Charges</a></li>
          <li><a href='javascript:void(0);'>Returns Centre</a></li>
          <li><a href='javascript:void(0);'>Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src='js/jquery.min.js'></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src='js/bootstrap.min.js'></script>
<script type='text/javascript' src='js/jqzoom.js'></script>
<!--images Carousel JavaScript -->
<script src='js/owl.carousel.js'></script>
<script src='js/ddmenu.js' type='text/javascript'></script>
<script src='js/custom.js'></script>

