<header class='header fixHeader'> <!--header start-->
  <div class='linkTop hidden-xs'>
    <div class='container'>
      <ul>
        <li><a href='index.html'>Home</a></li>
        <li><a href='javascript:void(0);'>Sell</a></li>
        <li><a href='javascript:void(0);'>Order Tracking</a></li>
        <li><a href='javascript:void(0);'>Download App</a></li>
        <li><a href='javascript:void(0);'>24x7 Customer support</a></li>
        <li><a href='sign-in.html'>Login</a></li>
        <li><a href='register.html'>Register</a></li>
      </ul>
    </div>
  </div>
  <div class='headerBox'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-3'>
          <div class='logo'>
            <a href='index.html'>Brand<span>Store</span></a>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='navSearchbar'>
            <!-- <div class='navSearchField'>
              <input type='text' class='nav-input' name='field-keywords' value='' />
              <button class='navSearchSubmit'></button>
            </div> -->
            <!--/*Menu Start*/-->

          </div>
        </div>
        <div class='col-sm-3'>
          <div class='socialIconsHeader'>
            <a href='javascript:void(0);'><img src='images/square-facebook.png' alt='' /></a>
            <a href='javascript:void(0);'><img src='images/square-twitter.png' alt='' /></a>
            <a href='javascript:void(0);'><img src='images/square-google-plus.png' alt='' /></a>
          </div>
          <div class='clearfix'></div>
          <!--/*demo menu*/-->
          <!-- <div class='menuHeaderContainer white text-left menuLevelTwo'>
           <ul>
              <li> <a class='mainText' href='javascript:void(0);'>Hello. Sign in<br/><span>Your Orders</span></a>
                <div class='overlay'>
                <div class='triangleUp'></div>
                  <ul>
                    <li><a href='javascript:void(0);'>Your Account</a></li>
                    <li><a href='javascript:void(0);'>Your Orders</a></li>
                    <li><a href='javascript:void(0);'>Your Wish List</a></li>
                    <li><a href='javascript:void(0);'>Your Recommendations</a></li>
                    <li><a href='javascript:void(0);'>Manage Your Content and Devices</a></li>
                    <li><a href='javascript:void(0);'>Your Kindle Unlimited</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div> -->
          <div class='wowPerkLink'><a href='index.html'><img src='images/wowPerksLogo.png' alt='' /></a></div>
          <a href='cart.html' class='cart pull-right'><span>0</span> Cart</a>
          <!--/*demo menu*/-->
          <!-- <div class='menuHeaderContainer white text-left menuLevelThree'>
           <ul>
              <li> <a class='mainText' href='javascript:void(0);'>Wish<br/><span>List</span></a>
                <div class='overlay'>
                <div class='triangleUp'></div>
                  <ul>
                    <li><a href='javascript:void(0);'>Create a Wish List</a></li>
                    <li><a href='javascript:void(0);'>Find a Wish List</a></li>
                    <li><a href='javascript:void(0);'>Wish from Any Website</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
</header>
<!--header End-->
<div class='clear'></div>
